<form [formGroup]="theForm" #formRef="ngForm"
      (ngSubmit)="onSubmit(theForm.value)">

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Name" required
        [formControl]="theForm.controls['name']">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password"
               [formControl]="theForm.controls['password']">
    </div>

    <button type="submit" class="ui button">Submit</button>

</form>

<hr>
Debug:
<br>
{{formRef.valid}}
<br>
{{formRef.errors | json}}
