<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Entered</th>
    </tr>
    </thead>

    <tr *ngFor="let rating of ratings">
        <td>{{rating.name}}</td>
        <td>{{rating.grade}}</td>
        <td>{{rating.entered | date}}</td>
        <td><button (click)="removeRating(rating)" class="btn btn-danger">Remove</button></td>
    </tr>
</table>
<cr-table-counter [collection]="ratings"></cr-table-counter>
