
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label>Your Name:</label>
                    <input name="name" [(ngModel)]="rating.name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Rating (1-5):</label>
                    <input name="grade" [(ngModel)]="rating.grade" type="number" class="form-control"/>
                </div>
                <h4> {{rating.name}} entered: {{rating.grade}} </h4>
                <div>
                    <button (click)="addRating()" class="btn btn-success" >Add</button>
                </div>
            </form>


        </div>
        <div class="col-sm-8">
            <div>
                <cr-rating-list [ratings]="ratings" (onRemoveRating)="removeRating($event)"></cr-rating-list>
            </div>
        </div>
    </div>
