<div class="container">
    <div class="jumbotron">
        <h3>Learning Angular 2 concepts by example ...</h3>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li> <a routerLink="/databinding" routerLinkActive="active">Databinding</a> </li>
                    <li> <a routerLink="/form" routerLinkActive="active">Form</a> </li>
                    <li> <a routerLink="/form2" routerLinkActive="active">Form 2</a> </li>
                    <li> <a routerLink="/form3" routerLinkActive="active">Reactive Form</a> </li>
                    <li> <a routerLink="/structural-directives" routerLinkActive="active">Structural-Directives</a> </li>
                    <li> <a routerLink="/attribute-directive" routerLinkActive="active">Attribute-Directive</a> </li>
                    <li> <a routerLink="/pipes" routerLinkActive="active">Pipes</a> </li>
                    <li> <a routerLink="/custom-pipe" routerLinkActive="active">Custom Pipe</a> </li>
                    <li> <a routerLink="/styling" routerLinkActive="active">Styling</a> </li>
                    <li> <a routerLink="/nested-components" routerLinkActive="active">Nested Components</a> </li>
                    <li> <a routerLink="/nested-content" routerLinkActive="active">Nested Content</a> </li>
                    <li> <a routerLink="/dependency-injection" routerLinkActive="active">Dependency-Injection</a> </li>
                    <li> <a routerLink="/lifecycle" routerLinkActive="active">Lifecycle</a> </li>
                    <li> <a routerLink="/backend/backend-access" routerLinkActive="active">Backend-Access</a> </li>
                    <li> <a routerLink="/backend/backend-crud" routerLinkActive="active">Backend-CRUD</a> </li>
                    <li> <a routerLink="/backend/backend-search" routerLinkActive="active">Backend-Search</a> </li>
                 </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
