<h4>Structural-Directives</h4>

<label>Show district:</label>
<input type="checkbox" [(ngModel)]="showDistrict"/>

<h5>Characters:</h5>
<ul>
    <li *ngFor="let character of characters">
        <span>{{character.firstName}}</span>
        <span>{{character.lastName}}</span>
        <span *ngIf="showDistrict">{{character.district}}</span>
    </li>
</ul>

<!--<ul>-->
<!--<template ngFor let-character [ngForOf]="characters">-->
<!--<li>-->
<!--<span>{{character.firstName}}</span>-->
<!--<span>{{character.lastName}}</span>-->
<!--<template [ngIf]="showDistrict">-->
<!--<span>{{character.district}}</span>-->
<!--</template>-->
<!--</li>-->
<!--</template>-->
<!--</ul>-->
