<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Entered</th>
    </tr>
    </thead>

    <tr>
        <td>name</td>
        <td>grade</td>
        <td>01.01.2012</td>
        <td><button class="btn btn-danger">Remove</button></td>
    </tr>
</table>
<cr-table-counter></cr-table-counter>