
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label>Your Name:</label>
                    <input name="name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Rating (1-5):</label>
                    <input name="grade" type="text" class="form-control"/>
                </div>
                <h4> John entered: 42 </h4>
                <div>
                    <button class="btn btn-success" >Add</button>
                </div>
            </form>


        </div>
        <div class="col-sm-8">
            <div>
                <cr-rating-list></cr-rating-list>
            </div>
        </div>
    </div>
