<div class="new-todo">
    <input type="text" placeholder="What needs to be done?" autofocus autocomplete="off"
           [(ngModel)]="newToDo.title"/>
    <button class="add-button" id="add-button" (click)="addToDo()">
        +
    </button>
</div>
