<div class="parent">
    <h2>Lifecycle Demo</h2>

    <button (click)="toggleChild()">
        {{hasChild ? 'Destroy' : 'Create'}} Component
    </button>
    <button (click)="update()" [hidden]="!hasChild">Update</button>

    <aw-lifecycle *ngIf="hasChild" [date]="theDate"></aw-lifecycle>

    <h4>-- Lifecycle Hook Log --</h4>
    <div *ngFor="let msg of hookLog">{{msg}}</div>
</div>
