Id:<input type="text" [(ngModel)]="ratingId"/>
Participant:<input type="text" [(ngModel)]="participantName"/>
Score:<input type="text" [(ngModel)]="grade"/>
<br>
<br>
<button (click)="getRatings()">Get</button>
<button (click)="postRating()">POST</button>
<button (click)="putRating()">PUT</button>
<button (click)="deleteRating()">DELETE</button>
<br>
<br>
<pre>{{ratings | async | json}}</pre>
