<div class="container">
  <div class="jumbotron">
    <h1>Course Rater</h1>
    <p>Demonstrating a simple Angular 2 App.</p>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">Course Rater</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li> <a routerLink="/ratings" routerLinkActive="active">Ratings</a> </li>
          <li> <a routerLink="/users" routerLinkActive="active">Users</a> </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>