<section class="todoapp" ng-controller="todoController as ctrl">
    <header class="header">
        <h1>Simplistic ToDo</h1>
        <h4>A most simplistic ToDo List with Angular 2.</h4>
        <td-new-todo (onAddToDo)="addToDo($event)"></td-new-todo>
    </header>

    <section class="main">
        <td-todo-list [todos]="todos" (onRemoveToDo)="removeToDo($event)"></td-todo-list>
    </section>
</section>
<footer class="info">
    <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
    </p>
</footer>
