<input type="text"
       required
       minlength="3"
       [(ngModel)]="username"
       #usernameRef="ngModel">
<div *ngIf="usernameRef.errors?.required">This field is required</div>
<hr>
Debug:
<br>
{{usernameRef.valid}}
<br>
{{usernameRef.errors | json}}
