<div class="row">
    <div class="col-sm-4">
        <form #formRef="ngForm">
            <div class="form-group">
                <label>Your Name:</label>
                <input name="name" required minlength="4" [(ngModel)]="name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Rating (1-6):</label>
                <input name="grade" required [(ngModel)]="grade" type="number" pattern="[1-6]" class="form-control"/>
            </div>
            <h4 *ngIf="formRef.valid">
                {{name}} entered: {{grade}}
            </h4>
            <div>
                <button (click)="addRating()" [disabled]="!formRef.valid" class="btn btn-success">Add</button>
            </div>
        </form>

    </div>
    <div class="col-sm-8">
        <div *ngIf="ratings.length > 0">
            <cr-rating-list [ratings]="ratings" (onRemoveRating)="removeRating($event)"></cr-rating-list>
        </div>
    </div>
</div>
